{% include 'search-head.twig.html' %}

	<body>

    {% include 'sidebar.twig.html' %}

    <div class="content container">
      <h1 class="post-title"> Search </h1>
			<form action="/search">
        <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
      </form>
			<div id="tipue_search_content"></div>

    </div><!-- end class content container -->

    <script>
      $(document).ready(function() {
        $('#tipue_search_input').tipuesearch({
          'mode': 'json',
          'contentLocation': '/search.json'
        });
      });
    </script>
  </body>
</html>
