<div class="sidebar">
	<div class="container sidebar-sticky">
		<div class="sidebar-about">
		    <center><img src="/assets/icons/logo-128.png"></center>
			<h1>
				<a href="{{ site.baseurl }}/">{{ site.title }}</a>
			</h1>
			<p class="lead">{{ site.subtitle }}</p>
				<p>
					Subscribe: <a href="https://twitter.com/iznewstoday"
					target="_blank">@twitterhandle</a> |
				    <a href="/feed.xml" target="_blank">RSS</a>
				</p>
		</div><!-- end class sidebar-about -->

		<nav class="sidebar-nav">
			{% if page.title is same as('Home') %}
			<a class="sidebar-nav-item active" href="{{ site.url }}/">Home</a>
			{% else %}
			<a class="sidebar-nav-item" href="{{ site.url }}/">Home</a>
			{% endif %}

			{% if page.title is same as('Archive') %}
			<a class="sidebar-nav-item active" href="{{ site.url }}/archive">Posts Archive</a>
			{% else %}
			<a class="sidebar-nav-item" href="{{ site.url }}/archive">Posts Archive</a>
			{% endif %}

			{% if page.title is same as('Categories') %}
			<a class="sidebar-nav-item active" href="{{ site.url }}/archive/categories">Categories</a>
			{% else %}
			<a class="sidebar-nav-item" href="{{ site.url }}/archive/categories">Categories</a>
			{% endif %}

			{% if page.title is same as('Tags') %}
			<a class="sidebar-nav-item active" href="{{ site.url }}/archive/tags">Tags</a>
			{% else %}
			<a class="sidebar-nav-item" href="{{ site.url }}/archive/tags">Tags</a>
			{% endif %}

			{% if page.title is same as('About') %}
			<a class="sidebar-nav-item active" href="{{ site.url }}/about">About</a>
			{% else %}
			<a class="sidebar-nav-item" href="{{ site.url }}/about">About</a>
			{% endif %}

			{% if page.title is same as('Credits') %}
			<a class="sidebar-nav-item active" href="{{ site.url }}/credits">Credits</a>
			{% else %}
			<a class="sidebar-nav-item" href="{{ site.url }}/credits">Credits</a>
			{% endif %}
		</nav>

		<form action="/search">
			<input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
		</form>

		<script>
			$(document).ready(function() {
				$('#tipue_search_input').tipuesearch({
					'mode': 'json',
					'contentLocation': '/search.json'
				});
			});
		</script>

		<p>&copy; {{ "now"|date("Y") }} All Rights Reserved.</p>
	</div><!-- end class container sidebar-sticky -->
</div><!-- end class sidebar -->
